*.VC.db
*.log
*.opensdf
*.sdf
*~
/build-*/*/*/Debug
/build-*/*/*/Release
/build-*/*/Debug
/build-*/*/Release
/build-*/Debug
/build-*/Release
/build-*/tests/*/*/Debug
/build-*/tests/*/*/Release
/build-*/tests/*/Debug
/build-*/tests/*/Release
